@charset "UTF-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap');

main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg,rgb(250, 192, 250),lightblue );
  overflow: hidden;
  position: relative;

 .swiper-wrapper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    width: 500px;
    height: 100%;
    background: rgba(255,255,255,.2);
    font-size: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff
  }
 }
}
